<form action="/login" method="post" class="alt-form">
  <div class="grid-container">
    <div class="grid-x align-center align-middle">
      <div class="cell">
        <h3>Login</h3>
        <div>
          <label><span class="show-for-sr">Username</span>
            <input type="text" name="username" placeholder="Username">
          </label>
        </div>
        <div>
          <label><span class="show-for-sr">Password</span>
            <input type="password" name="password" placeholder="Password">
          </label>
        </div>
        <div>
          <button class="secondary button" type="submit">Login</button>
        </div>
        <% if (typeof message != "undefined") { %>
        <div data-abide-error class="alert callout" style="display: none;">
          <p><%= message %></p>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</form>
