<form action="/login" method="post" class="alt-form">
  <div class="grid-container">
    <div class="grid-x align-center align-middle" style="height:80vh">
      <div class="cell medium-3">
        <h2>Login</h2>
        <fieldset>
          <label><span>Username</span>
            <input type="text" name="username" placeholder="Ali MacGraw">
          </label>
        </fieldset>
        <fieldset>
          <label><span>Password</span>
            <input type="password" name="password" placeholder="*******">
          </label>
        </fieldset>
        <% if (typeof error != "undefined") { %>
          <% if(error) { %>
            <div class="alert callout">
              <p><%= message %></p>
            </div>
          <% } %>
        <% } %>
        <div class="float-right">
          <button class="secondary large button" type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>
</form>
