<form action="/auth/signup" method="POST" id="form-container">
    <p>Sign up page</p>
    <input type="text" placeholder="Username.." name="username"></input>
    <input type="password" placeholder="Password.." name="password"></input>
    <input type="submit" value="Create account"></input>
    <p class="account-message">
        Do you already have an account?
        <a href="/auth/login">Login</a>
    </p>
</form>