<form action="/auth/signup" method="POST" id="form-container">
<p>Sign up page</p>
    <input type="text" placeholder="Username.." name="username"></input>
    <input type="password" placeholder="Password.." name="password"></input>
    <input type="submit">Create account</input>

            <a href="/auth/github" class="btn btn-lg btn-primary" role="button">
                Login with GitHub
            </a>
            <p class="account-message">
                Do you already have an account?
                <a href="/auth/login">Login</a>
            </p>
</form>