<div class="top-bar">
  <div class="top-bar-right">
    <ul class="menu">
      <li>
        <button type="button" id="login-button" class="secondary button">Login</button>
      </li>
      <li class="menu-text">or</li>
      <li>
        <a href="/auth/github" class="button">Login with github</a>
      </li>
    </ul>
  </div>
</div>

<section id="banner">
  <div class="grid-container">
    <div class="grid-x">
      <div class="cell medium-6">
        <h1>{cachitos}</h1>
        <p class="lead">Lorem ipsum</p>
      </div>
      <div class="cell medium-2">
        <div class="light-panel">
          <% include auth/signup.ejs %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Modal de login -->
<div class="tiny reveal" id="login-modal" data-reveal data-animation-in="slide-in-up" data-animation-out="slide-out-down"></div>
