<div class="grid-container full">
  <div class="grid-x align-right align-stretch">

    <main class="user-pile cell small-order-1">
      <div class="user-control">
        <% if (user) { %>
<<<<<<< HEAD
          <div class="user-picture">
            <img src="<%= user.avatar %>" alt="Avatar of <%= user.username %>" width="40" height="40">
          </div>
          <div class="user-username">
            <a href="/user/edit?id=<%= user.id %>" data-ajax-open="true"><%= user.username %></a>
          </div>
          <div class="user-logout">
            <a href="/logout" class="small button"><img src="/images/logout-icon.svg" width="20" height="20">
            </a>
          </div>
        <% } %>
      </div>
      <% if (typeof(chunks) !== "undefined"){ %>
      <section class="chunk-list grid-y grid-padding-y">
        <% include pile/list.ejs %>
      </section>
      <% } %>
      <div class="user-tools">
        <a href="/chunk/new" class="large button" data-ajax-open="true">New cachito</a>
      </div>
    </main>
    <section class="main-piles auto cell">

    </section>
  </div>
</div>

<% include partials/chunk-modal.html %>
