<div class="grid-container full">
  <div class="grid-x align-right align-stretch">

    <main class="user-pile cell medium-cell-block-y small-order-1">
      <div class="user-control">
        <% if (user) { %>
          <div class="user-picture">
            <img src="<%= user.avatar %>" alt="Avatar of <%= user.username %>" width="45" height="45">
          </div>
          <div class="user-username">
            <a href="/user/edit?id=<%= user.id %>" data-ajax-open="true"><%= user.username %></a>
          </div>
          <div class="user-logout">
            <a href="/logout" class="small button"><img src="/images/logout-icon.svg" width="20" height="20">
            </a>
          </div>
        <% } %>
      </div>
      <% if (typeof(chunks) !== "undefined"){ %>
        <% if (chunks.length > 0) { %>
          <% include pile/list.ejs %>
        <% } else {%>
          <div class="lateral-bar-message big-callout">
            <p>Your collection of 'cachitos' is empty.</p>
            <p>Click the <a href="/chunk/new" data-ajax-open="true">New</a> button below to create the first one</p>
            <p class="huge">&#8681;</p>
          </div>
        <% } %>
      <% } %>
      <div class="user-tools">
        <a href="/chunk/new" class="large button" data-ajax-open="true">New cachito</a>
      </div>
    </main>
    <section class="dashboard auto cell">
      <div class="grid-container">
        <div class="grid-x grid-padding-x">
          <div class="cell medium-6">
            <div class="grid-y grid-padding-y">
              <div class="cell">
                <img src="/images/logo.svg" alt="cachitos" class="logo">
              </div>
              <div class="cell" id="random-chunk">
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<% include partials/chunk-modal.html %>
