$banner-color: #EBEDF1;
$tool-bar-bg: #323232;
$tool-bar-color: #FFFFFF;
$tool-bar-bg-highlight: #5A5A5A;
$controls-height: 5.625rem;
$tool-bar-size: 33vw;
$tool-bar-max: 380px;
$tool-bar-min: 320px;
$secondary-text-color: #666;
$primary-color: #00A130;

#banner {
  background-color: $banner-color;
  height: 50vh;
  padding-top: 2rem;
}
#banner h1,
.huge {
  font-size: 6rem;
}
.hidden {
  visibility: hidden;
}
.out {
  height: 10px;
  left: 120vh;
  position: absolute;
}
.top-bar {
  background-color: $tool-bar-bg;
  color: $tool-bar-color;
}
.top-bar ul {
  background-color: $tool-bar-bg;
}
.reveal-overlay {
  background-color: rgba(255, 255, 255, .75)
}
.light-panel {
  background-color: #FFFFFF;
  border-radius: 3px;
  padding: 2rem;
}
.tool-bar-size {
  max-width: $tool-bar-max;
  min-width: $tool-bar-min;
  width: $tool-bar-size;
}
.user-control,
.user-tools {
  background: $tool-bar-bg;
  height: $controls-height;
  padding: 1rem 1rem 0;
  position: fixed;
  @extend .tool-bar-size;
}
.user-control {
  display: flex;
  justify-content: space-between;
  top: 0;
  z-index: 100;

  .user-username {
    font-size: 1.5rem;
    font-weight: bold;
    min-width: 60%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    a {
      color: $tool-bar-color;
    }

  }
}
.user-tools {
  bottom: 0;
}
.lateral-bar-message,
.big-message{
  color: $secondary-text-color;
  padding: 2rem;
}
.lateral-bar-message {
  margin-top: 16vh;
}
.big-callout{
  font-size: 1.75em;
  font-weight: bold;
  p {
    line-height: 1.33;
  }
}
.chunk-list {
  padding: $controls-height 0;
}
hr.inset {
  border-top: 2px solid lighten($tool-bar-bg, 4%);
  border-bottom: 2px solid darken($tool-bar-bg, 4%);
}
.lateral-bar {
  background-color: $tool-bar-bg;
  height: 100vh;
  @extend .tool-bar-size;
}
.user-pile {
  @extend .lateral-bar;

  .chunk {
    background: $tool-bar-bg-highlight;
    border-bottom: 3px solid $tool-bar-bg;
    min-height: 7.5rem;
    padding: 1rem;
    position: relative;
    transition: background-color, .5s;

    .chunk-controls {
      //background: $tool-bar-bg-highlight;
      bottom: -.5rem;
      display: none;
      padding: 0 .5rem;
      position: absolute;
      right: 0;
      //height: 100%;
    }
    &:hover {
      .chunk-controls {
        display: block;
      }
    }
    &.copied {
      background-color: lighten($tool-bar-bg-highlight, 10%);
      &:after {
        bottom: 0.5rem;
        color: $tool-bar-color;
        font-size: 1.25rem;
        left: 1rem;
      }
    }
  }

  .chunk-content {
    //display: none;
  }

  .chunk-name {
    color: $tool-bar-color;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 0;
  }
  .chunk-description {
    color: darken($tool-bar-color, 5%);
    font-size: 80%;
    margin-bottom: 0;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.chunk {
  position: relative;

  &.copied {

    &:after {
      bottom: -3rem;
      color: $primary-color;
      content: 'Copied!';
      font-size: 2rem;
      font-weight: 700;
      left: 0;
      position: absolute;
    }
  }
}

.chunk-lang {
  font-size: 80%;
  margin-bottom: 0;
  text-transform: uppercase;
}

.dashboard {
  //min-height: 100%;
  background: $banner-color;
}
.close-button.large {
  font-size: 4em;
}
.reveal.main {
  border: 0;
  border: none;
  border-radius: 0;
  height: 100%;
  height: 100vh;
  margin-left: 0;
  max-width: none;
  min-height: 100vh;
  width: 66%;
}
label > span {
  color: $secondary-text-color;
  display: block;
  margin-bottom: .33rem;
}
pre code {
  border: none;
}
.logo {
  margin-top: .75rem;
}
.footer {
  background: $banner-color;
  padding: 2rem;
}
